html {
	background-color: #EEEEEE;

}


.titre {
	font-size: 5vw;
	color: #444340;
	font-family: 'Austein';


}

@font-face {

	font-family: 'Austein';
	src: url('Austein.woff2') format('woff2'),
		 url('Austein-Script.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}


.image1 {

	width: 200px;
	height: 110px;
	text-align: center;
  	border-radius: 30%;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	transform: translate(2.5%, +200%);
}



.image3 {

	width: 200px;
	height: 110px;
	text-align: center;
  	border-radius: 30%;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	transform: translate(2.5%, +175%);
}




.option1 {

	width: 150px;
	height: 20px;
	text-align: center;
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	transform: translate(0%, +1100%);
}

.option2 {

	width: 150px;
	height: 20px;
	text-align: center;
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	transform: translate(0%, +1800%);
}



.caramoul1 {

	width: 200px;
	height: 200px;
  	text-align: center;
  	border-radius: 30%;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	transform: translate(0%, -150%);
  




}

.caramoul2 {

	width: 200px;
	height: 200px;
  	text-align: center;
  	border-radius: 30%;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	transform: translate(0%, -100%);

}




